    body {
        margin:0;
        padding:0;
        border:0;           /* This removes the border around the viewport in old versions of IE */
        width:100%;
        min-width:300px;        /* Minimum width of layout - remove line if not required */
        background:#000;
                        /* The min-width property does not work in old versions of Internet Explorer */
        font-size:90%;
        font-family: Arial, sans-serif;
        color: #fff;
    }
    #stationList {
        text-align: center;
    }
    #stationList .stations {
        display: inline-block;
        text-align: left;
        font-size: 1.5em;
    }
    #stationList .stations ol {
        list-style:decimal-leading-zero;
        font-weight: bold;
    }

    .displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #fff;
    }

    a {
        color:#fff;
        font-weight: bold;
        cursor: pointer;
    }
    h1, h2, h3 {
        margin:.1em 0 .1em 0;
        padding:0;
        width: 100%;
    }
    p {
        margin:.4em 0 .8em 0;
        padding:0;
        color: #c0c0c0;
    }

    img.songCover {
        width: 350px;
        max-width: 100%;
        height: auto;
    }
    /* Header styles */
    #header {
        width:100%;
        display: inline-block;
        text-align:center;
        border-bottom:4px solid #000;
    }
    #header ul {
        width:100%;
        list-style:none;
        margin:10px 0 10px 0;
        padding:0;
    }
    
    #controls a {float:left;}
    #controls a.right {float: right;}

    #controls a span {
        display: block;
        width: 24px;
        height: 24px;
        text-indent:-9000px;
    }

    #controls a span.nocontrol {cursor: default;}

    #changestation {background: url('controls-stations.png'  ) center center no-repeat;}
    #addstation    {background: url('controls-newstation.png') center center no-repeat;}

    #pause         {background: url('controls-play.png'      ) center center no-repeat;}
    #next          {background: url('controls-next.png'      ) center center no-repeat;}

    #love          {background: url('controls-love.png'      ) center center no-repeat;}
    #ban           {background: url('controls-ban.png'       ) center center no-repeat;}
    #tired         {background: url('controls-tired.png'     ) center center no-repeat;}
    #explain       {background: url('controls-explain.png'   ) center center no-repeat;}

    #voldown       {background: url('controls-voldown.png'   ) center center no-repeat;}
    #volume        {background: url('controls-volume.png'    ) center center no-repeat;}
    #volup         {background: url('controls-volup.png'     ) center center no-repeat;}

    #restart       {background: url('controls-restart.png'   ) center center no-repeat;}
    
    a#closeStations {float: right;}
    a#closeStations span {
        display: block;
        width: 24px;
        height: 24px;
        text-indent:-9000px;
        background: url('controls-close.png') center center no-repeat;
    }
    
    /* 'widths' sub menu */
    /* column container */
    .colmask {
        position:relative;  /* This fixes the IE7 overflow hidden bug */
        clear:both;
        max-width:960px;
        margin: 0 auto;
        padding: 10px;
        overflow:hidden;        /* This chops off any overhanging divs */
    }
    /* common column settings */
    .colright,
    .colmid,
    .colleft {
        float:left;
        width: 320px;
        max-width:100%;
        position:relative;
    }
    .span2cols {
        width: 640px;
    }
    .span3cols {
        width: 100%;
    }
    /* Full page settings */
    .fullpage {
        background:#000;        /* page background colour */
    }
    .fullpage .col1 {
        width:100%;          /* page width minus left and right padding */
    }
    /* Footer styles */
    #footer {
        width:100%;
        border-top:1px solid #000;
    }
    /* --> */
