body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

a {cursor: pointer;}
#controls a {float:left;}
#controls a.right {float: right;}

#controls a span#volume {
    background: url('controls-volume.png'    ) center center no-repeat;
    text-indent: 0;
    color: #ddd;
    font-size:10px;
    font-weight: bold;
    line-height: 40px;
    width: 30px;
    text-align: center;
}

#controls a span {
    display: block;
    width: 24px;
    height: 24px;
    text-indent:-9000px;
}

#controls a span.nocontrol {cursor: default;}

#changestation {background: url('controls-stations.png'  ) center center no-repeat;}
#addstation    {background: url('controls-newstation.png') center center no-repeat;}

#pause         {background: url('controls-play.png'      ) center center no-repeat;}
#next          {background: url('controls-next.png'      ) center center no-repeat;}

#love          {background: url('controls-love.png'      ) center center no-repeat;}
#ban           {background: url('controls-ban.png'       ) center center no-repeat;}
#tired         {background: url('controls-tired.png'     ) center center no-repeat;}
#explain       {background: url('controls-explain.png'   ) center center no-repeat;}

#voldown       {background: url('controls-voldown.png'   ) center center no-repeat;}
#volup         {background: url('controls-volup.png'     ) center center no-repeat;}

#restart       {background: url('controls-restart.png'   ) center center no-repeat;}

#content, #stationList, #msg, #newStation {width: 80%; position:absolute; top:50%; left:50%; height:300px; width:960px; margin-top:-165px; margin-left:-500px; font-weight: bold;}
#msg h1 {font-size:6em; text-align:center;}
#content #marquee-wrap {position: absolute;top:0;right:0;width: 650px;height: 200px;}
#content h1 {font-size:4em;margin: 0;padding:0; z-index: 2;white-space:nowrap;overflow: hidden;}
#content h2 {font-size:2em; margin:0;padding:0; z-index: 2;white-space:nowrap;overflow: hidden;}
#content h2.album {font-style: italic; z-index: 2;}
#content img.albumart {width:300px; height:300px; float:left; padding-right:10px; z-index: 3;}
#content img.love {float:right; width: 20px; z-index: 5;}
#content p.details {display:none;background-color: #000; z-index: 2;}
#content div.time {position: absolute;bottom: 0px;left: 310px; width: 650px; text-align: right; font-weight: bold; z-index: 1;}
#content div.progress_bar {height: 10px; padding: 1px; border: 1px solid #fff;}
#content div.progress_bar div.marker {height: 10px; background-color: #fff; width: 0%;}

#newStation div#newStationInner {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 100%;
}

#newStation input {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    /*font-family:Georgia,Times,"Times New Roman",serif;*/
    font-size:28px; 
    width:100%;
    margin:0;
    outline:0 none;
    padding:7px;
}

#newStation div#newStationButton {
    position: absolute;
    right: 0px;
    top: 0px;
    width:  50px;
    height: 50px;
	text-indent:-9000px;
    background: url('addStation.png') center center no-repeat;
    cursor: pointer;
}

#stationList .pagenum {
    text-align: right;
    font-size: .75em;
    
}

a#closeStations {float: right;}
a#closeStations span {
    display: block;
	width: 24px;
	height: 24px;
	text-indent:-9000px;
	background: url('controls-close.png') center center no-repeat;
}